.jumbotron {
  background: none !important;
  position: fixed;
  left:50px;
}


.bottom {
  position:fixed;
  bottom:0;
}

.bottomright {
  position:fixed;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

ul.horizontal-list li {
  display:inline;
}

ul.horizontal-list li img {
    width: 49px;
    height: auto;
}
